<a href="https://colab.research.google.com/github/hrtywhy/Machine-Learning/blob/main/KNN%20-%20Regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**KNN untuk permasalahan Regresi**

KNN regression is a non-parametric method that, in an intuitive manner, approximates the association between independent variables and the continuous outcome by averaging the observations in the same neighbourhood. The size of the neighbourhood needs to be set by the analyst or can be chosen using cross-validation (we will see this later) to select the size that minimises the mean-squared error.

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

import dataset from drive

In [27]:
path = "/content/drive/My Drive/regresion.csv"
data = pd.read_csv(path)
X = array[:,:3]
Y = array[:,:-1]
data.shape

NameError: ignored

show data `X` and `Y`

In [12]:
data.head(10)

   Menang  Kalah  Predksi Menang Kalah
0      20     11                     5
1      32     12                     4
2      15     10                     2
3      23     14                     4
4      14     15                     1
5      27     17                     3
6      40     19                     3

In [15]:
X

NameError: ignored

In [20]:
Y[0:3]

NameError: ignored

  Bagi data menjadi 60 % training dan 40% testing

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.40)

NameError: ignored

Misalkan y = yang harus diperkirakan adalah "Compressive Strength (28-day)(Mpa)" 

masukan X ADALAH KOLOM : Cement,Slag,Fly ash,Water,SP,Coarse Aggr.,Fine Aggr.,SLUMP(cm),FLOW(cm)

Kita akan menggunakan KNN untuk melakukan regresi dengan mengimport library KNN regresi sebagai berikut

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knnr = KNeighborsRegressor(n_neighbors = 10)
knnr.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

Menampilkan error y hasil prediksi 

dan y test

In [ ]:
y_predict = knnr.predict(X_test)
y_predict

array([43.52 , 39.223, 40.684, 31.384, 34.448, 41.74 , 38.367, 30.701,
       33.296, 44.845, 31.919, 37.686, 34.675, 40.642, 35.426, 43.548,
       33.03 , 30.018, 43.52 , 44.711, 37.67 , 41.004, 33.432, 32.146,
       33.432, 36.483, 36.669, 37.058, 32.12 , 35.933, 30.715, 37.67 ,
       34.729, 37.67 , 34.729, 44.364, 29.363, 34.769, 35.72 , 31.746,
       36.053, 39.156])

In [ ]:
y_test

array([49.3 , 37.39, 38.46, 31.77, 33.91, 42.08, 34.18, 18.26, 36.46,
       38.59, 26.82, 33.11, 33.38, 39.4 , 31.37, 43.95, 31.5 , 19.19,
       52.65, 45.42, 41.81, 46.36, 41.81, 27.62, 41.14, 36.19, 34.99,
       28.03, 37.66, 35.52, 30.43, 41.01, 36.72, 41.54, 28.7 , 44.08,
       17.19, 25.21, 32.71, 26.28, 32.44, 49.97])

Menampilkan Mean square Error

In [ ]:
print ("The MSE is:",format(np.power(y_test-y_predict,2).mean()))

The MSE is: 31.433718666666657